.bottom_bar {
  width: 100%;
  background-color: rgb(3, 3, 3);
  margin: 0;
  padding: 10px 0;
  color: #979797;
  align-content: center;
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
}
