.container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 48px;
  justify-content: center;
  .post {
    border: solid 1px gray;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;

    h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .pages {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
}
