<ng-container *ngIf="post$ | async as post">
  <div class="container">
    <button [routerLink]="''">Return</button>
    <div class="post">
      <h1>{{ post.post.title }}</h1>
      <hr />
      <div class="content">
        {{ post.post.body }}
      </div>
    </div>

    <div class="comments">
      <div class="comment" *ngFor="let comment of post.comments">
        {{ comment.body }}
        <div class="autor">- {{ comment.name }} - {{ comment.email }}</div>
      </div>
    </div>

    <form [formGroup]="newCommentForm" (ngSubmit)="formSubbmit()">
      <div class="formControl">
        Name
        <input
          type="text"
          formControlName="name"
          [ngClass]="newCommentForm.controls.name.invalid && submitted?'invalid':''"
        />
        <div class="error_text" *ngIf='newCommentForm.controls.name.invalid && submitted'>
          Name is required!
        </div>
      </div>
      <div class="formControl">
        Email
        <input
          type="email"
          formControlName="email"
          [ngClass]="newCommentForm.controls.email.invalid && submitted?'invalid':''"
        />
        <div class="error_text" *ngIf='newCommentForm.controls.email.invalid && submitted'>
          <div *ngIf='newCommentForm.controls.email.errors.required'>Email is required!</div>
          <div *ngIf='newCommentForm.controls.email.errors.email'>Email is invalid!</div>
        </div>
      </div>
      <div class="formControl">
        Comment
        <textarea
          formControlName="body"
          [ngClass]="newCommentForm.controls.body.invalid && submitted?'invalid':''"
        ></textarea>
        <div class="error_text" *ngIf='newCommentForm.controls.body.invalid && submitted'>
          Comment is required!
        </div>
      </div>
      <button>Comment!</button>
    </form>
  </div>
</ng-container>
